@font-face {
font-family: "RalewayRegular";
src: url("fonts/ralewayRegular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "RalewayExtraBold";
src: url("fonts/ralewayextrabold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "RalewaySemiBold";
src: url("fonts/ralewaysemibold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "montserrat";
src: url("fonts/montserrat.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: "montserratlight";
src: url("fonts/montserratlight.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
