@import "reset.css";
@import "fonts.css";
header{
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header-wrapper, .projects, .numbers-wrapper, .partners-wrapper{
  max-width: 1170px;
  margin: 0 auto;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  z-index: 1;
  padding: 0 20px;
}
.header-left a{
  text-decoration: none;
  color: #fff;
  font-family: "RalewayRegular";
  font-size: 34px;
  letter-spacing: -1.36px;
  outline: none;
}
.header-right, .menu{
  display: flex;
  align-items: center;
}
.header-right .menu li{
  margin-right: 30px;
}
.header-right, .menu a{
  text-decoration: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-family: "montserrat";
}
.header-right, .menu a:hover{
  color: #c7b299;
}
.header-right .basket{
  margin: 0 30px;
}
.search input{
  display: none;
}
.slick-prev, .slick-next{
  left: 0;
  right: 0;
}
.slider{
  max-width: 100%;
  width: 100%;
}
.slide-wrapper{
  display: flex;
  justify-content: center;
}
.slick-slide img {
  max-width: 100%;
}
.slide-content{
  position: absolute;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 600px;
}
.slide-content h4{
  color: #ffffff;
  font-family: "RalewayRegular";
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.slide-content h3{
  color: #ffffff;
  font-family: "RalewayExtraBold";
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  margin: 15px 0 20px 0;
}
.slide-content p{
  color: #ffffff;
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.slide-content button{
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  border: none;
  outline: none;
  font-family: "RalewayExtraBold";
  padding: 20px 40px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}
.slick-arrow{
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  cursor: pointer;
}
.slide-left{
  left: 5%;
}
.slide-right{
  right: 5%;
}
.slick-dots{
  bottom: 8%;
}
.slick-dots li button:before{
  content: "•";
  background-color: #ffffff;
  opacity: 0.5;
  font-size: 11px;
  line-height: 11px;
  width: auto;
  height: auto;
  border-radius: 50%;
  color: inherit;
  margin-top: 2px;
}
.slick-dots li.slick-active button:before{
  border: 2px solid #d3c1ad;
  background-color: #ffffff;
  margin-top: 0;
  color: unset;
}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects h2{
  color: #555555;
  font-family: "RalewaySemiBold";
  font-size: 30px;
  font-weight: 400;
}
.projects p{
  color: #8c8c8c;
  font-family: "montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  max-width: 750px;
  text-align: center;
  margin: 25px 0 40px;
}
.projects .tabs button{
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  color: #8c8c8c;
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  padding: 5px 20px;
}
.projects .tabs button.active{
  background-color: #998675;
  color: #fff;
}
.projects .article-wrapper{
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects .article-wrapper article{
  margin: 0 10px 30px;
}
.projects .article-wrapper article:hover .article-content{
  background-color: #362f2d;
}
.projects .article-wrapper article:hover .article-photo{
  filter: brightness(0.5);
}
.projects .article-wrapper .article-content{
  padding: 40px 0 40px 30px;
  background-color: #fbfaf8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.projects .article-wrapper .article-content h5{
  color: #c7b299;
  font-family: "RalewayRegular";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.projects .article-wrapper .article-content span{
  color: #d1d1d1;
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.numbers{
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.numbers .numbers-wrapper{
  display: flex;
  justify-content: space-around;
}
.numbers article{
  padding: 70px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20%;
}
.numbers article img{
  margin-bottom: 30px;
}
.numbers article .count{
  color: #ffffff;
  font-family: "montserratlight";
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
}
.numbers article .title{
  color: #c7b299;
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  margin: 20px 0 30px;
}
.numbers article .line{
  width: 30px;
height: 2px;
background-color: #ffffff;
}
.partners{
  background: url('img/partners-bg.png') no-repeat left;
}
.partners .partners-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px 0;
}
.partners .partners-wrapper article{
  margin: 25px 0;
}
